<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saltySaySimon_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,166}</string>
                <key>spriteSourceSize</key>
                <string>{75,166}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saltySaySimon_arrowGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,235}</string>
                <key>spriteSourceSize</key>
                <string>{124,235}</string>
                <key>textureRect</key>
                <string>{{75,0},{124,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saltySaySimon_awesome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,603}</string>
                <key>spriteSourceSize</key>
                <string>{349,603}</string>
                <key>textureRect</key>
                <string>{{199,0},{349,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saltySaySimon_bummer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,603}</string>
                <key>spriteSourceSize</key>
                <string>{347,603}</string>
                <key>textureRect</key>
                <string>{{548,0},{347,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saltySaySimon_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,85}</string>
                <key>spriteSourceSize</key>
                <string>{114,85}</string>
                <key>textureRect</key>
                <string>{{895,0},{114,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saltySaySimon_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{1009,0},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saltySaySimon_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,85}</string>
                <key>spriteSourceSize</key>
                <string>{116,85}</string>
                <key>textureRect</key>
                <string>{{1121,0},{116,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saltySaySimon_replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,79}</string>
                <key>textureRect</key>
                <string>{{1237,0},{111,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saltySaySimon_splash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,603}</string>
                <key>spriteSourceSize</key>
                <string>{347,603}</string>
                <key>textureRect</key>
                <string>{{1348,0},{347,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,79}</string>
                <key>textureRect</key>
                <string>{{1695,0},{111,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Placeholders.png</string>
            <key>size</key>
            <string>{1806,603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff34bede9d4bbcfdb9f911f4b8db462e:1bdef551937ed7553099d388e06430c5:84ad1449f00b03b1b4149ebc48d870bf$</string>
            <key>textureFileName</key>
            <string>Placeholders.png</string>
        </dict>
    </dict>
</plist>
